/*Global Styles*/

/*imported fonts*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html {
	font-family: "Droid Sans", sans-serif;
}
/*link styles*/

a {text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}
a:visited{text-decoration: none;}


/*navigation styles*/
.navigation-offset-fix {
	height: 150px;
}
.navigation-wrapper {
	background: white;
	margin-top: -21px;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.navigation-wrapper a {
	color: rgba(33,173,49,1);
}

.navigation-wrapper li {
	display: inline-block;
	height: 40px;
	padding: 40px;
}

.buttons-wrapper {
	text-align: center;
}

.navigation-wrapper .title {
	position: absolute;
	text-indent: 40px;
	padding-top: 24px;
	font-family: "Droid Sans", sans-serif;
}

.navigation-wrapper li:hover {
	background: rgba(33,173,49,1);
	color: white;
}

.navigation-wrapper a:hover {
	color: rgba(33,173,49,0.3);
}

/*section styles*/

section {
	text-align: center;
}

.section-title {
	padding-top: 100px;
}

/*work styles*/
.work a {
	color:black;
}

.project-link {
	text-align: left;
	font-size: 25px;
}

.project-image {
	border: 1px solid black;
}

.work-content {
}


/*about styles*/

.about-content {
	font-size: 20px;
}

/*contact styles*/

.contact-content {
	padding-bottom: 100px;
}

.contact a {
	color: black;
}

.contact-content a:hover {
	color: rgba(33,173,49,1);
}


